h1 {
    color: chartreuse;
    font: 30px, Arial, sans-serif;
    text-align: center;
}

p {
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

div{
    background-color: darkorange;
    border: 1px solid blue;
    padding: 20px;
    margin:20px 0;
}