.pixel-width  {
    width: 300px;
    background-color: lightgreen;
    padding: 10px;
    margin: 20px auto; 
}

.percentage-width {
    width: 50%;
    background-color: lightblue;
    padding: 10px;
    margin: 20px auto; 
}